* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body,
  body.dark-theme {
    background-color: #121212;
    -webkit-transition: background-color 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
  }
  body nav,
  body.dark-theme nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 10vh;
  }
  body nav .logo,
  body.dark-theme nav .logo {
    color: #eee;
    padding-left: 2.5vw;
    font-size: 20px;
    -webkit-transition: color 0.6s ease-in-out;
    transition: color 0.6s ease-in-out;
  }
  body nav .nav-links,
  body.dark-theme nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30%;
  }
  body nav .nav-links li,
  body.dark-theme nav .nav-links li {
    list-style: none;
    cursor: pointer;
  }
  body nav .nav-links li a,
  body.dark-theme nav .nav-links li a {
    color: #eee;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 20px;
    -webkit-transition: color 0.6s ease-in-out;
    transition: color 0.6s ease-in-out;
    -webkit-transition: border-bottom-color 0.6s ease-in-out;
    transition: border-bottom-color 0.6s ease-in-out;
  }
  body nav .nav-links li a.active,
  body nav .nav-links li a:hover,
  body.dark-theme nav .nav-links li a.active,
  body.dark-theme nav .nav-links li a:hover {
    border-bottom: 2px solid #fff;
  }
  body nav .nav-links li .dark-mode-toggle,
  body.dark-theme nav .nav-links li .dark-mode-toggle {
    cursor: pointer;
    background: none;
    border: none;
  }
  body nav .nav-links li .dark-mode-toggle #moon,
  body.dark-theme nav .nav-links li .dark-mode-toggle #moon {
    display: none;
    -webkit-transition: display 0.6s ease-in-out;
    transition: display 0.6s ease-in-out;
  }
  body nav .nav-links li .dark-mode-toggle #sun,
  body.dark-theme nav .nav-links li .dark-mode-toggle #sun {
    display: block;
    color: #eee;
    -webkit-transition: display 0.6s ease-in-out;
    transition: display 0.6s ease-in-out;
  }
  body nav .burger,
  body.dark-theme nav .burger {
    display: none;
    padding-right: 3.5vw;
  }
  body .dashboard .button-container,
  body.dark-theme .dashboard .button-container {
    padding: 2.5vh 2.5vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
  }
  body .dashboard .button-container button,
  body.dark-theme .dashboard .button-container button {
    min-width: 80px;
    width: 6vw;
    height: 6vh;
    min-height: 50px;
    background: none;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: #eee;
    cursor: pointer;
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    background: #202020;
    -webkit-box-shadow: 0 0 5px 1px #111;
            box-shadow: 0 0 5px 1px #111;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-transition: background-color 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
    -webkit-transition: -webkit-box-shadow 0.6s ease-in-out;
    transition: -webkit-box-shadow 0.6s ease-in-out;
    transition: box-shadow 0.6s ease-in-out;
    transition: box-shadow 0.6s ease-in-out, -webkit-box-shadow 0.6s ease-in-out;
  }
  body .dashboard .button-container button span,
  body.dark-theme .dashboard .button-container button span {
    display: none;
  }
  body .dashboard .button-container button:hover,
  body .dashboard .button-container button.active,
  body.dark-theme .dashboard .button-container button:hover,
  body.dark-theme .dashboard .button-container button.active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    border: none;
  }
  body .dashboard .button-container #csk-btn,
  body.dark-theme .dashboard .button-container #csk-btn {
    border-color: #ffcf18;
  }
  body .dashboard .button-container #csk-btn:hover,
  body .dashboard .button-container #csk-btn.active,
  body.dark-theme .dashboard .button-container #csk-btn:hover,
  body.dark-theme .dashboard .button-container #csk-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#ffcf18), to(#ffb300));
    background: linear-gradient(90deg, #ffcf18, #ffb300);
  }
  body .dashboard .button-container #mi-btn,
  body.dark-theme .dashboard .button-container #mi-btn {
    border-color: #2196f3;
  }
  body .dashboard .button-container #mi-btn:hover,
  body .dashboard .button-container #mi-btn.active,
  body.dark-theme .dashboard .button-container #mi-btn:hover,
  body.dark-theme .dashboard .button-container #mi-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#2196f3), to(#1976d2));
    background: linear-gradient(90deg, #2196f3, #1976d2);
  }
  body .dashboard .button-container #rcb-btn,
  body.dark-theme .dashboard .button-container #rcb-btn {
    border-color: #b71c1c;
  }
  body .dashboard .button-container #rcb-btn:hover,
  body .dashboard .button-container #rcb-btn.active,
  body.dark-theme .dashboard .button-container #rcb-btn:hover,
  body.dark-theme .dashboard .button-container #rcb-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#d32f2f), to(#b71c1c));
    background: linear-gradient(90deg, #d32f2f, #b71c1c);
  }
  body .dashboard .button-container #kkr-btn,
  body.dark-theme .dashboard .button-container #kkr-btn {
    border-color: #8739fa;
  }
  body .dashboard .button-container #kkr-btn:hover,
  body .dashboard .button-container #kkr-btn.active,
  body.dark-theme .dashboard .button-container #kkr-btn:hover,
  body.dark-theme .dashboard .button-container #kkr-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#673ab7), to(#8739fa));
    background: linear-gradient(90deg, #673ab7, #8739fa);
  }
  body .dashboard .button-container #delhi-btn,
  body.dark-theme .dashboard .button-container #delhi-btn {
    border-color: #3d5afe;
  }
  body .dashboard .button-container #delhi-btn:hover,
  body .dashboard .button-container #delhi-btn.active,
  body.dark-theme .dashboard .button-container #delhi-btn:hover,
  body.dark-theme .dashboard .button-container #delhi-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#3d5afe), to(#2979ff));
    background: linear-gradient(90deg, #3d5afe, #2979ff);
  }
  body .dashboard .button-container #pbks-btn,
  body.dark-theme .dashboard .button-container #pbks-btn {
    border-color: #ef5350;
  }
  body .dashboard .button-container #pbks-btn:hover,
  body .dashboard .button-container #pbks-btn.active,
  body.dark-theme .dashboard .button-container #pbks-btn:hover,
  body.dark-theme .dashboard .button-container #pbks-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#ef5350), to(#e57373));
    background: linear-gradient(90deg, #ef5350, #e57373);
  }
  body .dashboard .button-container #rr-btn,
  body.dark-theme .dashboard .button-container #rr-btn {
    border-color: #f06292;
  }
  body .dashboard .button-container #rr-btn:hover,
  body .dashboard .button-container #rr-btn.active,
  body.dark-theme .dashboard .button-container #rr-btn:hover,
  body.dark-theme .dashboard .button-container #rr-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#f06292), to(#ec407a));
    background: linear-gradient(90deg, #f06292, #ec407a);
  }
  body .dashboard .button-container #srh-btn,
  body.dark-theme .dashboard .button-container #srh-btn {
    border-color: #ff5722;
  }
  body .dashboard .button-container #srh-btn:hover,
  body .dashboard .button-container #srh-btn.active,
  body.dark-theme .dashboard .button-container #srh-btn:hover,
  body.dark-theme .dashboard .button-container #srh-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#ff5722), to(#f4511e));
    background: linear-gradient(90deg, #ff5722, #f4511e);
  }
  body .dashboard .button-container #ktk-btn,
  body.dark-theme .dashboard .button-container #ktk-btn {
    border-color: #ab47bc;
  }
  body .dashboard .button-container #ktk-btn:hover,
  body .dashboard .button-container #ktk-btn.active,
  body.dark-theme .dashboard .button-container #ktk-btn:hover,
  body.dark-theme .dashboard .button-container #ktk-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#ab47bc), to(#9c27b0));
    background: linear-gradient(90deg, #ab47bc, #9c27b0);
  }
  body .dashboard .button-container #gl-btn,
  body.dark-theme .dashboard .button-container #gl-btn {
    border-color: #f57c00;
  }
  body .dashboard .button-container #gl-btn:hover,
  body .dashboard .button-container #gl-btn.active,
  body.dark-theme .dashboard .button-container #gl-btn:hover,
  body.dark-theme .dashboard .button-container #gl-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#f57c00), to(#ef6c00));
    background: linear-gradient(90deg, #f57c00, #ef6c00);
  }
  body .dashboard .button-container #rps-btn,
  body.dark-theme .dashboard .button-container #rps-btn {
    border-color: #d81b60;
  }
  body .dashboard .button-container #rps-btn:hover,
  body .dashboard .button-container #rps-btn.active,
  body.dark-theme .dashboard .button-container #rps-btn:hover,
  body.dark-theme .dashboard .button-container #rps-btn.active {
    background: -webkit-gradient(linear, right top, left top, from(#d81b60), to(#8e24aa));
    background: linear-gradient(270deg, #d81b60, #8e24aa);
  }
  body .dashboard .button-container #deccan-btn,
  body.dark-theme .dashboard .button-container #deccan-btn {
    border-color: #607d8b;
  }
  body .dashboard .button-container #deccan-btn:hover,
  body .dashboard .button-container #deccan-btn.active,
  body.dark-theme .dashboard .button-container #deccan-btn:hover,
  body.dark-theme .dashboard .button-container #deccan-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#607d8b), to(#546e7a));
    background: linear-gradient(90deg, #607d8b, #546e7a);
  }
  body .dashboard .button-container #pwi-btn,
  body.dark-theme .dashboard .button-container #pwi-btn {
    border-color: #00bcd4;
  }
  body .dashboard .button-container #pwi-btn:hover,
  body .dashboard .button-container #pwi-btn.active,
  body.dark-theme .dashboard .button-container #pwi-btn:hover,
  body.dark-theme .dashboard .button-container #pwi-btn.active {
    background: -webkit-gradient(linear, left top, right top, from(#00bcd4), to(#00acc1));
    background: linear-gradient(90deg, #00bcd4, #00acc1);
  }
  body .dashboard .card-container,
  body.dark-theme .dashboard .card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 15vh;
    width: 100vw;
    gap: 12.5px;
    padding: 0 2.5vw;
    overflow: auto;
  }
  body .dashboard .card-container .cards,
  body.dark-theme .dashboard .card-container .cards {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: #eee;
    text-align: center;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0 0 5px 2px #111;
            box-shadow: 0 0 5px 2px #111;
    background-color: #1a1a1a;
    -webkit-transition: background-color 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
    -webkit-transition: color 0.6s ease-in-out;
    transition: color 0.6s ease-in-out;
    padding: 10px 0;
  }
  body .dashboard .card-container .cards span,
  body.dark-theme .dashboard .card-container .cards span {
    font-weight: 700;
    font-size: 36px;
    color: #eee;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: color 0.6s ease-in-out;
    transition: color 0.6s ease-in-out;
  }
  body .dashboard .card-container .cards div,
  body.dark-theme .dashboard .card-container .cards div {
    padding-top: 7.5px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }
  body .dashboard .component-container,
  body.dark-theme .dashboard .component-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20.5% 20.5% 28% 28%;
        grid-template-columns: 20.5% 20.5% 28% 28%;
    -ms-grid-rows: 325px 300px;
        grid-template-rows: 325px 300px;
    gap: 15px;
        grid-template-areas: "map-container map-container donut-container fact-container"  "map-container map-container line-container line-container";
    padding: 0 2.5vw;
    padding-bottom: 2vh;
  }
  body .dashboard .component,
  body.dark-theme .dashboard .component {
    border-radius: 12.5px;
    -webkit-box-shadow: 0 0 5px 2px #111;
            box-shadow: 0 0 5px 2px #111;
    background-color: #1a1a1a;
    -webkit-transition: background-color 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
    -webkit-transition: color 0.6s ease-in-out;
    transition: color 0.6s ease-in-out;
    color: #eee;
  }
  body .dashboard .component .heading,
  body.dark-theme .dashboard .component .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1vh 1vw;
    border-bottom: #eee solid 2px;
    font-size: 20px;
    font-weight: 600;
  }
  body .dashboard .component .heading button,
  body.dark-theme .dashboard .component .heading button {
    cursor: pointer;
    background: none;
    color: #eee;
    border: none;
  }
  body .dashboard .donut-container,
  body.dark-theme .dashboard .donut-container {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: donut-container;
    color: #eee;
  }
  body .dashboard .donut-container .heading,
  body.dark-theme .dashboard .donut-container .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .dashboard .donut-container .heading button,
  body.dark-theme .dashboard .donut-container .heading button {
    cursor: pointer;
    background: none;
    color: #eee;
    border: none;
  }
  body .dashboard .donut-container .graph-area,
  body.dark-theme .dashboard .donut-container .graph-area {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  body .dashboard .donut-container .graph-area #donut,
  body .dashboard .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard .donut-container .graph-area #donut,
  body.dark-theme .dashboard .donut-container .graph-area #donutNumber {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  body .dashboard .donut-container .graph-area #donut,
  body.dark-theme .dashboard .donut-container .graph-area #donut {
    display: block;
    width: auto;
    height: auto;
  }
  body .dashboard .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard .donut-container .graph-area #donutNumber {
    font-size: 36px;
    font-weight: 700;
    -webkit-transition: color 0.6s ease-in-out;
    transition: color 0.6s ease-in-out;
  }
  body .dashboard .map-container,
  body.dark-theme .dashboard .map-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: map-container;
  }
  body .dashboard .fact-container,
  body.dark-theme .dashboard .fact-container {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: fact-container;
  }
  body .dashboard .line-container,
  body.dark-theme .dashboard .line-container {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: line-container;
  }
  body .dashboard.csk .card-container .cards,
  body.dark-theme .dashboard.csk .card-container .cards {
    color: #ffbf00;
  }
  body .dashboard.csk .card-container .cards span,
  body.dark-theme .dashboard.csk .card-container .cards span {
    color: #ffbf00;
  }
  body .dashboard.csk .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.csk .donut-container .graph-area #donutNumber {
    color: #ffbf00;
  }
  body .dashboard.mi .card-container .cards,
  body.dark-theme .dashboard.mi .card-container .cards {
    color: #2196f3;
  }
  body .dashboard.mi .card-container .cards span,
  body.dark-theme .dashboard.mi .card-container .cards span {
    color: #2196f3;
  }
  body .dashboard.mi .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.mi .donut-container .graph-area #donutNumber {
    color: #2196f3;
  }
  body .dashboard.rcb .card-container .cards,
  body.dark-theme .dashboard.rcb .card-container .cards {
    color: #b71c1c;
  }
  body .dashboard.rcb .card-container .cards span,
  body.dark-theme .dashboard.rcb .card-container .cards span {
    color: #b71c1c;
  }
  body .dashboard.rcb .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.rcb .donut-container .graph-area #donutNumber {
    color: #b71c1c;
  }
  body .dashboard.kkr .card-container .cards,
  body.dark-theme .dashboard.kkr .card-container .cards {
    color: #8739fa;
  }
  body .dashboard.kkr .card-container .cards span,
  body.dark-theme .dashboard.kkr .card-container .cards span {
    color: #8739fa;
  }
  body .dashboard.kkr .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.kkr .donut-container .graph-area #donutNumber {
    color: #8739fa;
  }
  body .dashboard.delhi .card-container .cards,
  body.dark-theme .dashboard.delhi .card-container .cards {
    color: #2979ff;
  }
  body .dashboard.delhi .card-container .cards span,
  body.dark-theme .dashboard.delhi .card-container .cards span {
    color: #2979ff;
  }
  body .dashboard.delhi .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.delhi .donut-container .graph-area #donutNumber {
    color: #2979ff;
  }
  body .dashboard.pbks .card-container .cards,
  body.dark-theme .dashboard.pbks .card-container .cards {
    color: #ef5350;
  }
  body .dashboard.pbks .card-container .cards span,
  body.dark-theme .dashboard.pbks .card-container .cards span {
    color: #ef5350;
  }
  body .dashboard.pbks .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.pbks .donut-container .graph-area #donutNumber {
    color: #ef5350;
  }
  body .dashboard.rr .card-container .cards,
  body.dark-theme .dashboard.rr .card-container .cards {
    color: #f06292;
  }
  body .dashboard.rr .card-container .cards span,
  body.dark-theme .dashboard.rr .card-container .cards span {
    color: #f06292;
  }
  body .dashboard.rr .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.rr .donut-container .graph-area #donutNumber {
    color: #f06292;
  }
  body .dashboard.srh .card-container .cards,
  body.dark-theme .dashboard.srh .card-container .cards {
    color: #ff5722;
  }
  body .dashboard.srh .card-container .cards span,
  body.dark-theme .dashboard.srh .card-container .cards span {
    color: #ff5722;
  }
  body .dashboard.srh .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.srh .donut-container .graph-area #donutNumber {
    color: #ff5722;
  }
  body .dashboard.ktk .card-container .cards,
  body.dark-theme .dashboard.ktk .card-container .cards {
    color: #ab47bc;
  }
  body .dashboard.ktk .card-container .cards span,
  body.dark-theme .dashboard.ktk .card-container .cards span {
    color: #ab47bc;
  }
  body .dashboard.ktk .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.ktk .donut-container .graph-area #donutNumber {
    color: #ab47bc;
  }
  body .dashboard.gl .card-container .cards,
  body.dark-theme .dashboard.gl .card-container .cards {
    color: #f57c00;
  }
  body .dashboard.gl .card-container .cards span,
  body.dark-theme .dashboard.gl .card-container .cards span {
    color: #f57c00;
  }
  body .dashboard.gl .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.gl .donut-container .graph-area #donutNumber {
    color: #f57c00;
  }
  body .dashboard.rps .card-container .cards,
  body.dark-theme .dashboard.rps .card-container .cards {
    color: #d81b60;
  }
  body .dashboard.rps .card-container .cards span,
  body.dark-theme .dashboard.rps .card-container .cards span {
    color: #d81b60;
  }
  body .dashboard.rps .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.rps .donut-container .graph-area #donutNumber {
    color: #d81b60;
  }
  body .dashboard.deccan .card-container .cards,
  body.dark-theme .dashboard.deccan .card-container .cards {
    color: #607d8b;
  }
  body .dashboard.deccan .card-container .cards span,
  body.dark-theme .dashboard.deccan .card-container .cards span {
    color: #607d8b;
  }
  body .dashboard.deccan .donut-container .graph-area #donutNumber,
  body.dark-theme .dashboard.deccan .donut-container .graph-area #donutNumber {
    color: #607d8b;
  }
  body .dashboard.pwi .card-container .cards,
  body.dark-theme .dashboard.pwi .card-container .cards {
    color: #00bcd4;
  }
  body .dashboard.pwi .card-container .cards span,
  body.dark-theme .dashboard.pwi .card-container .cards span {
    color: #00bcd4;
  }
  body .donut-container .graph-area #donutNumber,
  body.dark-theme .donut-container .graph-area #donutNumber {
    color: #00bcd4;
  }
  body.light-theme {
    background-color: #eee;
    -webkit-transition: background-color 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
  }
  body.light-theme nav .logo {
    color: #111;
    -webkit-transition: color 0.6s ease-in-out;
    transition: color 0.6s ease-in-out;
  }
  body.light-theme nav .nav-links li a {
    color: #111;
    -webkit-transition: color 0.6s ease-in-out;
    transition: color 0.6s ease-in-out;
    -webkit-transition: border-bottom-color 0.6s ease-in-out;
    transition: border-bottom-color 0.6s ease-in-out;
  }
  body.light-theme nav .nav-links li a.active,
  body.light-theme nav .nav-links li a:hover {
    border-bottom-color: #111;
  }
  body.light-theme nav .nav-links li .dark-mode-toggle #moon {
    display: block;
    color: #111;
    -webkit-transition: display 0.6s ease-in-out;
    transition: display 0.6s ease-in-out;
  }
  body.light-theme nav .nav-links li .dark-mode-toggle #sun {
    display: none;
    -webkit-transition: display 0.6s ease-in-out;
    transition: display 0.6s ease-in-out;
  }
  body.light-theme .dashboard .button-container button {
    background: #eee;
    color: #111;
    -webkit-box-shadow: 0 0 5px 1px #e0e0e0;
            box-shadow: 0 0 5px 1px #e0e0e0;
  }
  body.light-theme .dashboard .button-container button.active,
  body.light-theme .dashboard .button-container button:hover {
    color: #eee;
  }
  body.light-theme .dashboard .card-container .cards {
    -webkit-box-shadow: 0 0 5px 1px #e0e0e0;
            box-shadow: 0 0 5px 1px #e0e0e0;
    background-color: #ededed;
    -webkit-transition: background-color 0.6s ease-in-out;
    transition: background-color 0.6s ease-in-out;
    -webkit-transition: color 0.6s ease-in-out;
    transition: color 0.6s ease-in-out;
  }
  body.light-theme .dashboard .component-container .component {
    background-color: #eee;
    -webkit-box-shadow: 0 0 5px 1px #e0e0e0;
            box-shadow: 0 0 5px 1px #e0e0e0;
    color: #111;
  }
  body.light-theme .dashboard .component-container .component .heading {
    border-bottom: #111 solid 2px;
  }
  body.light-theme .dashboard .component-container .component .heading button {
    color: #111;
  }
  body.light-theme .dashboard.csk .card-container .cards {
    color: #ffcf18;
  }
  body.light-theme .dashboard.csk .card-container .cards span {
    color: #ffcf18;
  }
}

nav .nav-links.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body nav .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #f06292;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60% !important;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  body nav .nav-links li {
    opacity: 0;
  }
  body nav div.burger {
    display: block !important;
  }
  body nav div.burger span {
    color: #eee;
    display: block;
    font-size: 36px;
    cursor: pointer;
  }
  body .dashboard .button-container {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
  body .dashboard .button-container button {
    min-width: 80px !important;
  }
}

@media screen and (max-width: 768px) and (prefers-color-scheme: dark) {
  body.dark-theme nav .burger span {
    color: #eee;
  }
  body.light-theme nav .burger span {
    color: #111;
  }
}
/*# sourceMappingURL=style.css.map */